<div>
  <header class="navbar navbar-light" >
    <button [cdkMenuTriggerFor]="menu" class="navbar-toggler aside-menu-toggler" type="button" data-toggle="aside-menu-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-sm-12">
      <ng-template #menu>
        <div class="example-menu" cdkMenu>
          <button class="example-menu-item" cdkMenuItem [routerLink]="['/usuario']">Tabela</button>
          <button class="example-menu-item" cdkMenuItem>Configuração</button>
          <button class="example-menu-item" cdkMenuItem>Ajuda</button>
          <button class="example-menu-item" cdkMenuItem>Sair</button>
        </div>
      </ng-template>
    </div>
  </header>
</div>


